body {
  background-color: whitesmoke;
  font-family: "Lora", sans-serif;
}

img {
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width:50%;
  height: auto;
}

.heading {
  text-align: center;
}
.tech-blog-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width:50%;
  height: auto;
}
.border-img{
  max-width: 35%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
nav {
  background-color: whitesmoke;
  padding: 10px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 15px;
  border-bottom: 2px solid black;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
nav a:hover {
  color: grey;
}